<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">
  <div class="col-6 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      <p>number: "1.2-2":"es"</p>
      <p>
        <i class="pi pi-dollar"></i>
        {{ ventasNetas + 12345678 | number: "1.2-2":"es" }}
      </p>
      <hr />
      <p>number: "1.2-2":"en"</p>
      <p>
        <i class="pi pi-dollar"></i>
        {{ ventasNetas + 12345678 | number: "1.2-2":"en" }}
      </p>
      <hr />
      <p>number: "1.2-2":"fr"</p>
      <p>
        <i class="pi pi-dollar"></i>
        {{ ventasNetas + 12345678 | number: "1.2-2":"fr" }}
      </p>
    </p-card>
  </div>

  <div class="col-6 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">
      <p>currency: "USD":"symbol-narrow":"1.0-4"</p>
      <p>
        {{ ventasNetas + 98765432 | currency: "USD":"symbol-narrow":"1.0-4" }}
      </p>
    </p-card>
  </div>

  <div class="col-6 md:col-4">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      <p>percent: "1.2-2"</p>
      <p>
        {{ porcentaje | percent: "1.2-2" }}
      </p>
    </p-card>
  </div>
</div>
